* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    text-indent: 10px;
}

.botoes {
    flex-direction: row;
}
#img-wow {
    /* width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    display: block; */
    width: 500px;
}
  